<!DOCTYPE html>
<html lang="{{ app.request.locale}}">
    <head>
        <title>{{ 'dashboard.title'|trans }}</title>

        {{ include('@Dashboard/inc/head.html.twig') }}

    </head>
    <body>

        <div class="header">
            <div class="grid">
                <div class="col-12">
                    {% block header %}
                        {{ include('@Dashboard/inc/mainNavigation.html.twig') }}
                    {% endblock %}
                </div>
            </div>
        </div>

        <div class="main">
            <div class="grid">
                <div class="col-12">
                    {% block main %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>