{% extends '@Dashboard/baseLayout.html.twig' %}

{% block main %}
    {% form_theme form 'DashboardBundle:Form:style.html.twig' %}
    {{ form(form, { 'attr': {'class': 'vertical'} } ) }}
    <br>
    <a href="{{ path('game_dashboard_game_list') }}">
        <i class="fa fa-backward"></i> {{ 'game_dashboard.back'|trans }}
    </a>
{% endblock %}